.container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;

    font-family: 'Nunito Sans';
    color: #0b1a3f;
}

.dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 400px;
    width: 200px;
    height: 48px;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.dropdownText {
    font-size: 16px;
}

.dropdownToggle {
    margin-left: auto;
}
.toggleArrow {
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(0deg);
    transition: all 0.2s;
}
.toggleArrow.toggled {
    transform: rotate(180deg);
    transition: all 0.2s;
}

.button {
    display: flex;
    flex-direction: row;
}

.menu {
    position: absolute;

    list-style-type: none;
    margin: 5px 0;
    padding: 0;

    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    top: 93%;
    max-height: 220px;
    overflow-y: auto;
    z-index: 1000;
}

.menu > li:first-child {
    padding-top: 10px;
}

.menu > li {
    margin: 0;
}

.menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: #0b1a3f;
    font-size: 16px;
}

.menuContainer {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-top: 4px;
    z-index: 1000;
}

.searchInput {
    width: 90%;
    font-size: 16px;
    margin: 1px;
    padding: 12px 8px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
}

.searchInput:focus {
    border-bottom: 1px solid #6d7587;
}

.no-results {
    padding: 12px;
    text-align: center;
    color: #666;
}

.menu-item {
    list-style: none;
}

.menu-item button {
    width: 100%;
    padding: 8px 16px;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.focused {
    background-color: #f5f7f9 !important;
}

.focused button {
    background-color: #f5f7f9;
}

.menu-item:hover {
    background-color: #f5f7f9;
}
